Flask==1.0.2
google-cloud-datastore==1.7.1
google-auth==1.6.1
requests==2.20.1
flask-login==0.4.1
flask-wtf==0.14.2
flask-sqlalchemy==2.3.2
pymysql==0.9.3
flask-user==1.0.1.5
 wtforms-alchemy==0.16.9
