<!DOCTYPE html>
<html>
 <head>
   <title>{% block title %}{% endblock %}</title>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    {% set hometab = (url_for('index'), 'home', 'Home') -%}
    {% set registertab = (url_for('register'), 'register', 'Register') -%}
    {% set visittab = ('/visitlog', 'visit', 'Visit Log') -%}
    {% set usersettab = (url_for('usersettings'), 'usersettings', 'Settings') -%}
    {% set admintab = ('/adminhome', 'adminhome', 'Admin') -%}
    {% set logintab = (url_for('user.logout'), 'logout', 'Logout') -%}

    <div class="menubox">
      {% if "frontdesk" in current_user.rolenames %}
          {% set navigation_bar = [hometab, registertab, visittab, admintab, logintab] -%}
      {% elif "admin" in current_user.rolenames %}
          {% set navigation_bar = [hometab, registertab, visittab, usersettab, admintab, logintab] -%}
      {% elif current_user.is_authenticated %}
          {% set navigation_bar = [hometab, visittab, usersettab, logintab] -%}
      {% else %}
          {% set logintab = (url_for('user.login'), 'login', 'Login') -%}
          {% set navigation_bar = [hometab, logintab] -%}
      {% endif %}

      {% set active_page = active_page|default('home') -%}

      <ul class="tabbedmenu">
        {% for href, id, caption in navigation_bar %}
          <li class={% if id == active_page %}"activetab"{% else %}"tab"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
    <div class='margin'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li class = "alert">{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
